@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Hide scrollbar for Webkit-based browsers */
  ::-webkit-scrollbar {
    width: 0.5em; /* Set width to 0 to hide scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set background color to transparent */
  }

  h1 {
    font-family: "Ubuntu", sans-serif;
  }
  h2,
  span,
  a {
    font-family: "Roboto Slab", serif;
  }
  h4 {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
  }
  button {
    font-family: "Roboto Slab", serif;
    font-weight: 200;
  }
}
